.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.timeline-date {
  width: 30%;
  text-align: right; /* Set text-align to "right" for the date on the right side */
}
.timeline-date.align-right {
  text-align: right;
}
.timeline-content {
  width: 70%;
}

/* Additional styling as needed */
