.custom_container {
  max-width: 1252px;
  margin: auto;
}

.clash_display {
  font-family: "Clash Display", sans-serif;
}
.time_text {
  font-family: "Unica One", cursive;
}
.custom_input,
.custom_textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  padding-left: 15px;
  padding-right: 10px;
  &::placeholder {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: normal;
  }
}
.custom_input{
  margin-top: 11px;
}
// main .custom_input