.custom_container {
  max-width: 1252px;
  margin: auto;
}

.clash_display {
  font-family: "Clash Display", sans-serif;
}
.time_text {
  font-family: "Unica One", cursive;
}
.custom_input,
.custom_textarea {
  &::placeholder {
    color: white;
    font-size: 16px;
    font-weight: normal;
  }
}

.register_input {
  &::placeholder {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }
}